p {
  font-size: 12px;
}

.blue{
  color: #006699;
}

h5 {
  padding-left: 20px;
}

li {
  padding-left: 20px;
}

body {
  background: repeating-linear-gradient(
    90deg,
    #E76626,
    #E76626 25%,
    #6D6090 25%,
    #6D6090 50%,
    #A391BC 50%,
    #A391BC 75%,
    #151515 75%,
    #151515 100%)
}