#circle-1 {
  background: #040507;
  float: left;
  width: 120px;
  height: 120px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px; 
}

#circle-2 {
  background: #6B4529;
  float: left;
  width: 120px;
  height: 120px;
  margin-left: 2px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px; 
}

#circle-3 {
  float: left;
  background: #A0A9AB;
  width: 120px;
  height: 120px;
  margin-left: 2px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px; 
}

#circle-4 {
  float: left;
  background: #CC5C34;
  width: 120px;
  height: 120px;
  margin-left: 2px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}

#circle-5 {
  float: left;
  background: #FCFCFC;
  width: 120px;
  height: 120px;
  margin-left: 2px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px; 
}